.createSpecial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px !important;
}

.createSpecial__input{
    width: 700px !important;
}
.createSpecial{
    width: 100% !important;
}
.createSpecial__btn{
    width: 250px !important;
    margin:10px !important

}
.submit{
    background-color: #000 !important;
}
.createSpecial__btncon{
    display: flex;
    justify-content: center;
    width: 100%;
}