.recipeCard{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 250px !important;
    min-height: 350px !important;

    background-color: #FBFBFB;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px !important;
    .recipeCard__con{

    }

    .recipeCard__image{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        min-height: 100px !important;
        max-height: 100px !important;
        border-radius: 10px !important;
        
        object-fit: contain;
    }
    .recipeCard__body{
        text-align: center;
     
    }
    
}